*{margin: 0px;
padding: 0px;}
.text{
color: blue;


}
.text{

    color: blue;
    cursor: pointer;
}
.box{
padding: 20px;
background-color: red;
width: 120px;

}
.box2{
    background-color: green;
}
.box3{
    background-color: blue;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
.opt{
padding: 30px;
background-color: red;
width: 150px;
height: 130px;
}
.opt1{
background-color: green;

}
.opt2{
background-color: blue;

}
.container2{
display: flex;
justify-content: space-around;
height: 500px;
align-items: center;
border: 2px solid gray;
}